<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BibliotecaEntities" connectionString="metadata=res://*/Infrastructure.BibliotecaModel.csdl|res://*/Infrastructure.BibliotecaModel.ssdl|res://*/Infrastructure.BibliotecaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDEV2204EVAL\SQLEXPRESS;initial catalog=Biblioteca;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>